.side-nav {
	width: 300px;
	background-color: #4dd0e1

}

h3 {
	font-size: 36px;
	margin-bottom: 20px;
	margin-left: 30px;
	margin-top: 0px;
	padding-top: 30px;
	font-family: 'Josefin Slab', serif
}

.name {
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #0097a7;
	height: 100px	

}

.carousel {
	
	margin-left: 225px;
	margin-top: 20px;
}

.waves-effect {
	height: 16px
}

.bold {
	height: 50px;
	font-family: 'Noto Sans', sans-serif
}


.homeImage {
	width: 800px;
	height: auto;
	padding-left: 550px;
	padding-top: 100px;
}

.note {
	padding-left: 580px;
	font-family: 'Josefin Slab', serif
	font-size: 20px;
	opacity: .2
}

span {
	opacity: 60;
}











